# Pandas Data Objects

In [ ]:
import numpy as np
import pandas as pd

In my opinion, understanding data structures is very important.

## Series

Series is an one-dimension structures that can hold any data type (boolean, integer, float or even Python objects).

### Series Creation

We can create Series from:
* Python dictionaries
* NumPy ndarrays
* a sclar value

The passed **index is a list of axis labels**. Thus, this separates into a few cases depending on what data is, this will provide an effective way to access data.

** From dictionary: **

In this case if no index is provided, it is extracted from dictionary keys, while the data is extracted from values.

d = {'a':5.,'b':5.,'c':5.}
i = ['x','y','z']
s1 = pd.Series(d)
print s1
s1.index

Otherwise, if index is passed, values with keys in index are pulled out, the rest are assigned to NaN. A NaN value means not assigned, and we will have to deal with these values in the future.

//TODO: talk about NaN

In [16]:
d = {'a':5,'b':5,'c':5}
i = ['x','y','a','b']
s1 = pd.Series(d, index = i)
print s1
print s1.dtype
s1.index

x   NaN
y   NaN
a     5
b     5
float64

Index([x, y, a, b], dtype=object)

** From numpy array: **

In [23]:
s2 = pd.Series(np.array([3,20,5]),index=['a','b','c'])
print s2
print s2.dtype
s2.index

a     3
b    20
c     5
int32

Index([a, b, c], dtype=object)

** From scalar: **

In [18]:
s3 = pd.Series(5,index=['a','b','c'])
print s3
print s3.dtype
s3.index

a    5
b    5
c    5
int32

Index([a, b, c], dtype=object)

Series can have the atribute **name**. When dealing with DataFrames, Series names will be automatically assigned with its column name.

In [48]:
s3 = pd.Series(5,index=['a','b','c'], name = 'Series3')
s3.name

'Series3'

### Series Accessing

Series can be accessed through position (numerical index), boolean Â¿list? or key (axis of labels). Accessing by position is like working with numpy ndarrays while accessing through keys (axis of labels) is like working with dictionaries.

** Position accessing **

In [24]:
s2

a     3
b    20
c     5

In [25]:
s2[1]

20

In [26]:
s2[1:]

b    20
c     5

** Boolean list accessing **

In [27]:
s2[[True,True,False]]

a     3
b    20

In [28]:
s2[s2>4]

b    20
c     5

**Key accessing**

In [29]:
s2[['a','b']]

a     3
b    20

In [31]:
s2['a']

3

In [30]:
'a' in s2

True

In case of accessing an unexisting key, a KeyError exception is thrown

In [33]:
try:
    s2['z']
except KeyError:
    print "Error handled"

Error handled

To avoid errors, we can use Serie's get function, where a defaut value is returned in case of error.

In [35]:
s2.get('x',np.NaN)

nan

### Series Operations

Vectorized operations can be done over pandas Series and also Series are accepted as most of NumPy operations. The result of an operation between unaligned Series will have the union of the indexes involved. If a label is not found in one Series or the other, the result will be marked as missing NaN.

In [39]:
s2 + 23

a    26
b    43
c    28

Operations are performed index-wise.

In [45]:
s2 + s1

a     8
b    25
c   NaN
x   NaN
y   NaN

In [46]:
(s2 + s1).dropna()

a     8
b    25

In [41]:
s2 ** 3

a      27
b    8000
c     125

In [42]:
np.exp(s2)

a    2.008554e+01
b    4.851652e+08
c    1.484132e+02

## DataFrame

A DataFrame is a 2-dimensional **labeled** data structure with columns of diferent types. It can be seen as a spreadsheet, where columns are Series or a Python dictionary where Series can be accessed through labels.

## DataFrame Creation

We can create DataFrames from:
* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* Structured or record ndarray
* A Series
* Another DataFrame

** From dict, Series or dict **

The result **index** will be the **union** of the indexes of the various Series. If there are any nested dicts, these will be first converted to Series. If no columns are passed, the columns will be the sorted list of dict keys.

In [58]:
d = {'one': pd.Series([1,2,3],index=['a','b','c']),'two': pd.Series([1,2,3,4],index=['a','b','c','z']),'three':{'a':1}}
df = pd.DataFrame(d)
df

   one  three  two
a    1      1    1
b    2    NaN    2
c    3    NaN    3
z  NaN    NaN    4

In [56]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  three  two
d  NaN    NaN  NaN
b    2    NaN    2
a    1      1    1

In [57]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three','four'])

   two  three four
d  NaN    NaN  NaN
b    2    NaN  NaN
a    1      1  NaN

The row and column labels can be accessed respectively by accessing the index and columns attributes:

In [59]:
df.index

Index([a, b, c, z], dtype=object)

In [60]:
df.columns

Index([one, three, two], dtype=object)